@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

html {
    font-family: 'Unbounded', cursive;
    font-size: 62.5%;
    background-color: rgb(180, 180, 180);
}

.encabezado {
    text-align: center;
    font-size: 1.4rem;
}

.puntuaciones {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    margin-left: 5rem;
}

.mensaje {
    font-size: 1.4rem;
    text-align: center;
    margin-right: 5rem;
}

.elecciones {
    display: flex;
    justify-content: space-evenly;
    margin: 3rem 0rem 3rem 0rem;
}

button {
    width: 10rem;
    height: 5rem;
    border-style: solid white .5rem;
    border-radius: .3rem;
    font-size: 1.6rem;
    background-color: rgb(160, 160, 160);
  }

button:hover {
    background-color: rgb(255, 255, 160);
    cursor: pointer;
}

.tablero {
    display: flex;
    justify-content: space-evenly;
}

.eleccion-jugador, .eleccion-computadora {
    font-size: 1.2rem;
    justify-content: space-evenly;
}

.encabezado-abajo {
    font-size: 1.4rem;
}

.renglon {
    display: flex;
    justify-content: space-between;
}

.verde {
    background-color: hsl(100, 40%, 50%);
    padding: 1rem;
    border: solid white .2rem;
    border-radius: .3rem;
}

.rojo {
    background-color: hsl(0, 60%, 50%);
    padding: 1rem;
    border: solid white .2rem;
    border-radius: .3rem;
}

/*
background-color: hsl(100, 40, 50);
background-color: hsl(0, 60, 50);
*/