@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

html {
    font-family: 'Unbounded', cursive;
    font-size: 62.5%;
    background-color: rgb(130, 130, 130);
}

.encabezado {
    text-align: center;
    font-size: 1.4rem;
}

.puntuaciones {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
}

.mensaje {
    font-size: 1.4rem;
    text-align: center;
    margin: 2rem 0rem 2rem 0rem;
}

.elecciones {
    display: flex;
    justify-content: space-evenly;
    margin: 3rem 0rem 3rem 0rem;
}

button {
    width: 10rem;
    height: 5rem;
    border-style: solid .3rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    background-color: rgb(160, 160, 160);
  }

button:hover {
    background-color: rgb(255, 255, 160);
    cursor: pointer;
}

.tablero {
    display: flex;
    justify-content: space-evenly;
}

.eleccion-jugador, .eleccion-computadora {
    font-size: 1.2rem;
    justify-content: space-evenly;
}

.encabezado-abajo {
    font-size: 1.4rem;
}